.featuresSection {
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

.featuresContainer {
  display: flex;
  flex-direction: column;
  row-gap: 56px;
  padding-top: 56px;
  padding-bottom: 56px;
}

.featuresHeading {
  font-weight: 500;
  color: #0085ff;
}

.featuresWrapper {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.featuresWrapperTwo {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.featuresWrapperThree {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.featuresSubHeading {
  padding-top: 12px;
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 500;
  color: #172026;
}

.featuresImageOne {
  padding-top: 24px;
}

.featuresText {
  padding-top: 24px;
  padding-bottom: 24px;
  color: #36485c;
  font-weight: 400;
}

.featuresChecklist {
  display: flex;
  flex-direction: column;
  row-gap: 0.75rem;
}

.featuresCheckListItem {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: #36485c;
}

.featuresLearnMore {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding-top: 1.5rem;
  font-weight: 500;
  color: #0085ff;
}

.featuresHeadingTwo {
  color: #00a424;
}

.featuresLearnMoreTwo {
  color: #00a424;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding-top: 1.5rem;
  font-weight: 500;
}

.featuresHeadingThree {
  color: #eb2891;
}

.featuresLearnMoreThree {
  color: #eb2891;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding-top: 1.5rem;
  font-weight: 500;
}

.featuresStatsContainer {
  display: flex;
  width: 100%;
  gap: 24px;
}

.featuresStatsWrapper {
  width: 50%;
  flex-direction: column;
  row-gap: 0.75rem;
  display: flex;
}

.featuresStatsHeading {
  font-weight: 600;
  font-size: 20px;
  color: #172026;
}

.featuresStatsText {
  font-weight: 400;
  color: #36485c;
}

.featuresDeskopImage {
  display: none;
}

.featuresHeadingTwo {
  color: #00a424;
}

.featuresLearnMoreTwo {
  color: #00a424;
}
@media (min-width: 640px) {
  .featuresDeskopImage {
    display: block;
    width: 50%;
  }
  .featuresImageOne {
    display: none;
  }

  .featuresImageTwo {
    display: none;
  }

  .featuresImageThree {
    display: none;
  }

  .featuresWrapper {
    flex-direction: row-reverse;
  }

  .featuresWrapperTwo {
    flex-direction: row;
  }

  .featuresWrapperThree {
    flex-direction: row-reverse;
  }

  .desktopWrapper {
    width: 50%;
  }

  .desktopWrapperTwo {
    width: 50%;
  }
}
@media (min-width: 1024px) {
  .featuresContainer {
    padding-top: 120px;
    padding-bottom: 120px;
    gap: 80px;
  }

  .desktopWrapper {
    padding-bottom: 56px;
    padding-top: 56px;
    padding-right: 56px;
  }

  .desktopWrapperTwo {
    padding-left: 56px;
    padding-bottom: 56px;
    padding-top: 56px;
  }

  .featuresHeading {
    font-size: 18px;
  }

  .featuresSubHeading {
    font-size: 42px;
    line-height: 58px;
  }

  .featuresText {
    font-size: 18px;
  }

  .featuresChecklist {
    font-size: 18px;
  }

  .featuresLearnMore {
    font-size: 18px;
  }
}
